<!DOCTYPE html>
<html>
<head>
  <title>Finalproject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


</head>
<body>
	<div class="row-fluid">   
		<div class="span10 offset1">
			<div class="container">     
				<div class="jumbotron text-center">       
					<h1>Calendar</h1> <br />      
						<p>Welcome! <strong><%= current_user.email %></strong> |
					<%= link_to 'logout', destroy_user_session_path, :method => 'delete' %></p>     
				</div> 
			</div>  
	</div> 
</div> 

<%= yield %>
<br />
<div id="footer" class="container">
        <div class="navbar navbar-dafault">
            <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit text-center"> Team Rocket | Thanh | Sean | Harry | Yuxin | Kate</p>
            </div>
        </div>
    </div>

</body>
</html>
